<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div style="max-width: 520px; margin: 0 auto;  margin-top: 20px; ">
  <h1>Редагування поста:</h1>
  <h2 style="margin-top: 20px;">"<%=title%>"</h2>
  <div>
  </div>

  <form style="margin-top: 55px;" method="post" action="/edit-post/<%=post.id%>?_method=PUT">
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label">Автор</label>
      <input 
      value="<%=author%>"
      required
      placeholder="John Smith"
      type="text"
      class="form-control"
      name="author"
      /> 
     
  </div>

  <div class="mb-3">
      <label for="postName" class="form-label">Назва поста</label>
      <input 
      value="<%=title%>"
      required
      type="text"
      class="form-control "
      name="title"
      />
  </div>

  <div class="form-group ">
      <label for="exampleFormControlTextarea1">Контент</label>
      <textarea
      required
      class="form-control"   
      placeholder="Напишіть щось тут..."
      rows="8"
      name="description"
      style="margin-top: 6px;"
      ><%=description%></textarea>
  </div>
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Зберегти зміни</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
